.game-label{
    font-size: 24px;
    text-align: center;
}
.declare-button{
    font-size: xx-large;
    font-weight: bold;
   
    display: block;
    width: 250px;
    height: 60px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-left: 153px;
    margin-right: 85px;

}
.game-components{
    display: flex;
 
}

.score{
    margin-left: 80px;
    font-size: 24px;
    font-weight: bold;
}
