.next-button{
    font-size: medium;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 35px;
    background-color: rgb(42, 184, 136);
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;

}

.answer-container{
    margin: 70px auto;
    width: 1000px;
}
.answer{
    text-align: center;
    margin-top: 20px;
    font-size: 48px;
}
